<!DOCTYPE html>
<!-- Template by https://www.html.am/templates/downloads/view-source.cfm?template=layout-templates/2-column-left-menu-header-footer.cfm -->
<html>
  <% template (format "${template_dir}\\_include\\header.html") %>
  <% template (format "${template_dir}\\_include\\top.html") %>
  <body>		
    <div id="wrapper">
      <main>
        <div id="content">
          <div class="innertube">
            <%= $post_body %>
          </div>
        </div>
      </main>
      <nav>
        <div class="innertube">
          <h3>Posts</h3>
          <ul>
            <% 
             # List all pages from POST category, sorted by date, newer first
             # Possible arguments for the sort command are:
             # newer, older, name, category, name_desc, category_dec

             # The all_pages list is a global list created by slab containing
             # all pages objects in the site.
             
             set sorted_pages (page_sort newer $all_pages)

              foreach p $sorted_pages {
                set is_post (str equals_i (page category $p) "post")
                if  (expr not $is_post) { continue; }
                set date (format "$(page year $p)-$(page month $p)-$(page day $p)")
             %>
             <li><a href="<%= (page url $p) %>"><%= (page title $p) %></a>
                <time datetime="<%= $date %>"></time></a></li>
             <% } %>
          </ul>
          <h3>Pages</h3>
          <ul>
            <% # List all pages NOT from POST category
              foreach p $sorted_pages {
                set is_post (str equals_i (page category $p) "post")
                if (expr $is_post)  { continue; }
            %>
              <li><a href="<%= (page url $p) %>"><%= (page title $p) %></a>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>
    <% template (format "${template_dir}\\_include\\footer.html") %>
  </body>
</html>
